/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    vertical-align: middle;
}
.container{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    font-size: 64px;
    line-height: 84px;
    
}
.flex-jcc{
    display: flex;
    justify-content: center;
}
.flex-jcsb{
    display: flex;
    justify-content: space-between;
}
.bgc-black{
    background-color: black;
    color:white;
}
.bgc-white{
    background-color: white;
    color: black;
}
.header{
    background-image: url(img/banner.png);
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 958px;
    background-size: cover;
}
.header-warp{
    color:white;
    width: 304px;
    
}
.header-title{
    font-size: 80px;
}
.mr-24{
    margin-right: 24px;
}
.mt-28{
    margin-top: 28px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-52{
    margin-bottom: 52px;
}
.pt-56{
    padding-top: 56px;
}
.pb-56{
    padding-bottom: 56px;
}
.pt-64{
    padding-top: 64px;
}
.pb-64{
    padding-bottom: 64px;
}
.fsz20-lh30-pt16-pb16{
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.fsz20-lh28{
    font-size: 20px;
    line-height: 28px;
}
.lh32{
    line-height: 32px;
}
.lh36{
    line-height: 36px;
}
.bt{
    margin: 0 auto;
    width: 384px;
    border-top: 1px solid #000;
}
.liStyle{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #891818;
    border-radius: 100%;
    margin-right:16px;
}
.ta-left{
    text-align: left;
}
.tac{
    text-align: center;
}
.icon:hover,.brand img:hover,.othWork img:hover{
    opacity: 0.5;
}
.othWork a{
    color:black;
    text-decoration: none
}
.contact a{
    color:white;
    text-decoration: none
}